<head>
    <title>{{title}}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/flash.js"></script>
</head>
<nav class="navbar navbar-inverse navbar-static-top row container-fluid">
    <div class="container-fluid">
        <div class="col-md-5">
        </div>
        <a class="navbar-brand col-md-2 container-fluid " href="/">
            <img alt="Flash" src="/img/flashLogo250.png" class="logo center-block img-responsive">
        </a>
        <div class="col-md-2">
        </div>
        <div class="col-md-3 container-fluid">
            <ul class="nav nav-pills container-">
                <li role="presentation"><a href="/" class="btnLogOut navBtn" role="button">Logout</a></li>
                <li role="presentation"><a id="createLink" class="btnCreate navBtn" href="/create" role="button">Create</a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="container">
    <section class="row">
      <a id="createLink" class="btn btn-default col-md-2" href="/create" role="button">Create</a>
      <a id="DeleteLink" class="btn btn-default btnDestroy col-md-2" href="/create" role="button">Delete</a>
        {{#each decks}}
            <div class="jumbotron col-md-6 col-md-offset-3 deck" data-id="{{this.deck_id}}">
                <h3 data-id="{{this.deck_id}}">{{this.deck_title}}</h3>
            </div>
        {{/each}}
        {{#each deck}}
            <div class="card click jumbotron col-md-6 col-md-offset-3">
                <div class="card_front">
                    <h3>{{this.front}}</h3>
                </div>
                <div class="card_back">
                    <h3>{{this.back}}</h3>
                </div>
            </div>
        {{/each}}
    </section>

</main>
