<head>
    <title>{{title}}</title>
    <meta name=“viewport” content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Raleway:500,600,700,800,900,400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/flash.js"></script>
    <link rel=“stylesheet” href=“https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.css” />
</head>

<body class="parallax home-parallax page">
    <nav class="navbar navbar-inverse navbar-fixed-top container-fluid">
        <div class="container-fluid row">
            <div class="col-md-4">
              <ul class="nav nav-pills container">
                <li role="presentation"><a id="createLink" class="btnCreate navBtn navbar-btn" href="/create" role="button">Create Deck</a></li>
                <li role="presentation"><a id="myDecks" class="btnDecks navBtn navbar-btn" href="/decks" role="button">My Decks</a></li>
              </ul>
            </div>
            <div class="col-md-1">
            </div>
            <a class="navbar-brand col-md-2 container-fluid" href="/">
                <img alt="Flash" src="/img/flashLogo500tranny.png" class="logo center-block img-responsive">
            </a>
            <div class="col-md-3 container-fluid">
              <form class="form-inline justify-center searchForm">
                <input type="text" class="form-control navbar-btn quickSearch" placeholder="Quick Search">
                <span class="glyphicon glyphicon-search navbar-btn" type="submit" role="button"></span>
              </form>
            </div>
            <div class="col-md-2">
                <ul class="nav nav-pills">
                    <li role="presentation"><a href="/" class="btnLogOut navBtn navbar-btn" role="button">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <article class="section_overlay">
        {{#each search}}
            <form class="" method="get">
                <input type="text" name="search" placeholder="Search by Decks Subject">
                <button class="btn btn-default search col-md-1" type="submit" role="button">Search</button>
            </form>
        {{/each}}

        <main class="container-fluid">
            <section class="row" id="deckRow">
                <h1 class="yourTitle">{{pageTitle}}</h1>
                <h1 class="yourDeckTitle text-center">{{deckTitle}}</h1>
                {{#each decks}}
                    <div class="jumbotron col-sm-3 col-md-3 deck" data-id="{{this.deck_id}}">
                        <button class="btn btn-default btnDestroy pull-right" type="submit" role="button" data-id="{{this.deck_id}}">
                           <span class="glyphicon glyphicon-remove" aria-hidden="true" data-id="{{this.deck_id}}"f></span>
                        </button>
                        <button class="btn btn-default btnUpdate pull-left" type="submit" role="button" data-id="{{this.deck_id}}">
                           <span class="glyphicon glyphicon-pencil" aria-hidden="true" data-id="{{this.deck_id}}"></span>
                        </button>
                        <h3 data-id="{{this.deck_id}}" class="title text-center align-baseline">{{this.deck_title}}</h3>
                    </div>
                {{/each}}
                {{#each sampleDecks}}
                    <div class="jumbotron col-sm-10 col-md-5 sampleDeck" data-id="{{this.id}}">
                        <h3 data-id="{{this.id}}" class="title text-center">{{this.title}}</h3>
                    </div>
                {{/each}}
                <!-- carousel for each deck -->
                {{#each cardOne}}
                    <div class="container">
                        <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false" data-keyboard="true">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                {{/each}}
                {{#each deck}}
                    <li data-target="#carousel" data-slide-to="1"></li>
                {{/each}}
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <!-- for first slide (active) -->
                    {{#each cardOne}}
                        <div class="item active card click">
                            <div class=" col-md-6 col-md-offset-3">
                                <div class="card_front center-block">
                                    <h3 class="card_front text-center">{{this.front}}</h3>
                                </div>
                                <div class="card_back center-block">
                                    <h3 class="card_back text-center">{{this.back}}</h3>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    <!-- rest of cards -->
                    {{#each deck}}
                        <div class="item card">
                            <div class="click col-md-6 col-md-offset-3">
                                <div class="card_front center-block">
                                    <h3 class="card_front text-center">{{this.front}}</h3>
                                </div>
                                <div class="card_back center-block">
                                    <h3 class="card_back text-center">{{this.back}}</h3>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>

                <!-- Controls -->
                {{#each cardOne}}
                    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                {{/each}}
                </div>
                </div>
                <!-- creates cards for sample deck -->
             </div>
                {{#each sampleDeck}}
                    <div class="card click jumbotron col-md-6 col-md-offset-3">
                        <div class="card_front">
                            <h3>{{this.front}}</h3>
                        </div>
                        <div class="card_back">
                            <h3>{{this.back}}</h3>
                        </div>
                    </div>
                {{/each}}

            </section>
    </article>
    </main>
</body>
