<head>
    <title>{{title}}</title>
    <meta name=“viewport” content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/flash.js"></script>
    <link rel=“stylesheet” href=“https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.css” />
</head>

<body>
    <nav class="navbar navbar-inverse navbar-static-top row container-fluid">
        <div class="container-fluid">
            <div class="col-md-5">
            </div>
            <a class="navbar-brand col-md-2 container-fluid " href="/">
                <img alt="Flash" src="/img/flashLogo500tranny.png" class="logo center-block img-responsive">
            </a>
            <div class="col-md-2">
            </div>
            <div class="col-md-3 container-fluid">
                <ul class="nav nav-pills container-">
                    <li role="presentation"><a href="/" class="btnLogOut navBtn" role="button">Logout</a></li>
                    <li role="presentation"><a id="createLink" class="btnCreate navBtn" href="/create" role="button">Create</a></li>
                </ul>
            </div>
        </div>
    </nav>
<main class="section_overlay">
    <section class="container">
        <article class="row" id="deckRow">
            <h1 class="createHeader col-sm-3 col-md-3">Create Deck</h1>
            <form method="post">
                <div class="row">
                    <div class="col-sm-3 col-md-3 topRow">
                        <div class="input-field">
                            <input type="text" class="form-control" id="deck_title" name="title" placeholder="{{title}}">
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 topRow">
                        <div class="btn btn-default upBtn addMore">addMore</div>
                        <button class="btn btn-default upBtn createBtn" type="submit">Create</button>
                    </div>
                </div>
                <div class="jumbotron col-sm-3 col-md-3 createC">
                  {{#each deck}}
                    <textarea class="form-control createText f" rows="1" name="front" data-id="{{this.id}}">{{this.front}}</textarea>
                    <textarea class="form-control createText" rows="1" name="back" data-id="{{this.id}}">{{this.back}}</textarea>
                  {{/each}}
                </div>
                <div class="addMoreRows">
                </div>
            </form>
        </article>
    </section>
</main>
</body>
